.jumbotron#jum{
	background-color: #19749e;
	min-height: 150px;
	margin-bottom: 0px;
}
.active{
	color: #19749e;
}
.navbar-toggle{
  	background-color: #173644;
  	border-color: #FFFFFF;
}
#title{
	margin-left: 20px;
	padding: 0px;
	font-family: David;
	font-size: 46px;
	font-weight: 900;
	color: #FFFFFF;
}
#qr-image{
	margin-right: 40px;
}
#navbar{
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #173644;
	border-color: #173644;
	border-radius: 0px;
}
#collapse a{
	font-family: David;
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
	border-color: #19749e;
}
#collapse a:hover{
	color: #173644;
}
